# Backend
Backend/target/
Backend/.mvn/
Backend/mvnw
Backend/mvnw.cmd
Backend/*.jar

# Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/.env*
Frontend/.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.log
